<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      LEARN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="card">
      <img src="assets/harvest.jpg">
      <h2 class="welcome">Welcome to the Outdoors</h2>
      <p class="writeUp"> Beginning your journey toward becoming a hunter can be intimidating if you were not raised to do it. As a hunter,
        the goal is to harvest game as humanely as possible. This requires contious practice to ensure
        your skills and equipment are ready for the field.
      </p>
      <p class="writeUp">It is important to understand that you are not expected to be an expert. We are all human, and 
        mistakes will be made as part of the learning process. The best suggestion is to do your homework, follow
        the rules and regulations, practice, and most important, enjoy yourself.  
      </p>
    </div>
  </ion-card>

  <div>
    <ion-label>How to Field Dress a Deer</ion-label>
    <iframe width="350" height="250" src="https://www.youtube.com/embed/3sChcEu862s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div>
    <ion-label>What to Pack</ion-label>
    <iframe width="350" height="250" src="https://www.youtube.com/embed/ooHvPr4Bk4I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div>
    <ion-label>How to Tune a Bow</ion-label>
    <iframe width="350" height="250" src="https://www.youtube.com/embed/f25Wr1EULRg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</ion-content>
