<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      WEATHER
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-grid *ngIf="weather">
      <ion-row>
        <ion-col col-7 offset-2>
          <h2 class="location">{{weather.name}}, PA</h2>
          <div class="icon">
            <img height="150px" width="150px" src="https://openweathermap.org/img/w/{{weather.weather['0'].icon}}.png" alt="">
          </div>
          <h3 class="description">{{weather.weather['0'].description}}</h3>
          <h1 class="temp">{{ getTemp(weather.main.temp) }}&deg;F</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-list>
            <ion-item>
              <ion-row justify-content-around>
                <ion-col col-6><strong>Min: </strong> {{ getTemp(weather.main.temp_min) }}&deg;F</ion-col>
                <ion-col col-6><strong>Max: </strong> {{ getTemp(weather.main.temp_max) }}&deg;F</ion-col>
              </ion-row>
            </ion-item>
            <ion-item>
              <ion-row><strong>Clouds: </strong> {{weather.clouds.all}}%</ion-row>
            </ion-item>
            <ion-item>
              <ion-row>
                <ion-col col-6><strong>Wind Speed: </strong> {{weather.wind.speed}}
                <ion-col col-6><strong>Direction: </strong> {{ degToCompass(weather.wind.deg) }}</ion-col></ion-col>
              </ion-row>
            </ion-item>
            <ion-item>
              <ion-row>
                <ion-col col-5><strong>Humidity: </strong>{{ weather.main.humidity}}%</ion-col>
                <ion-col col-7><strong>Pressure: </strong>{{ getPress(weather.main.pressure) }} in</ion-col>
              </ion-row>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
